@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

header {
  display: grid;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  height: 505px;
  background-image: url(../img/Header\ Background.png);
  background-size: cover;
  /* Faz a imagem cobrir toda a área */
  background-position: center;
  /* Centraliza a imagem */
  background-repeat: no-repeat;
  /* Evita repetições */
}

header #content-header {
  height: 366px;
  display: grid;
  flex-direction: column;
  justify-items: start;
  align-content: space-around;
}

header h1 {
  font-family: "Luckiest Guy";
  font-weight: 400;
  width: 278px;
  color: #ffffff;
  margin: 0 23.5px;
  text-align: start;
}

header p {
  font-size: 16px;
  width: 381px;
  height: 132px;
  color: #ffffff;
  margin: 0 23.5px;
  font-weight: 400;
}

header button {
  width: 381px;
  height: 54;
  border-radius: 28px;
  margin: 0 23.5px;
}

header button:first-of-type {
  color: #23272a;
  background-color: #ffffff;
  padding: 15px 66.5px;
}

header button:last-of-type {
  color: #ffffff;
  background-color: #23272a;
  padding: 15px 66.5px;
}

/* Configurações da seções do "Main" */
main {
  display: grid;
  flex-direction: column;
  align-content: center;
}

main .content-section {
  display: grid;
  flex-direction: column;
  justify-items: center;
  height: 573px;
  padding: 40px 24px;
  align-items: space-around;
}

main .content-section img {
  width: 379px;
  height: 252px;
  display: grid;
  flex-direction: column;
}

main .content-section h1 {
  width: 370px;
  font-weight: 800;
  font-size: 24px;
}

main .content-section p {
  width: 379px;
  font-weight: 400;
  font-size: 16px;
}

main .content-section.color2 {
  background-color: #f6f6f6;
}

main .content-section h1.titulo2 {
  font-family: "Luckiest Guy";
  font-size: 32px;
  font-weight: 400;
}

