@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
}

header {
  display: grid;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  height: 505px;
  background-image: url(../img/Header\ Background.png);
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetições */
}

header #content-header {
  height: 366px;
  display: grid;
  flex-direction: column;
  justify-items: start;
  align-content: space-around;
}

header h1 {
  font-family: "Luckiest Guy";
  font-weight: 400;
  width: 278px;
  color: #ffffff;
  margin: 0 23.5px;
  text-align: start;
}

header p {
  font-size: 16px;
  width: 381px;
  height: 132px;
  color: #ffffff;
  margin: 0 23.5px;
  font-weight: 400;
}

header button {
  font-family: "Open sans";
  font-size: 16px;
  width: 381px;
  height: 54px;
  border-radius: 28px;
  margin: 0 23.5px;
}

header button:first-of-type {
  color: #23272a;
  background-color: #ffffff;
  padding: 15px 66.5px;
}

header button:last-of-type {
  color: #ffffff;
  background-color: #23272a;
  padding: 15px 66.5px;
}

/* Configurações da seções do "Main" */
main {
  display: grid;
  flex-direction: column;
  align-content: center;
}

main .content-section {
  display: grid;
  flex-direction: column;
  justify-items: center;
  height: 573px;
  padding: 40px 24px;
  align-items: space-around;
}

main .content-section img {
  width: 379px;
  height: 252px;
  display: grid;
  flex-direction: column;
}

main .content-section h1 {
  width: 370px;
  font-weight: 800;
  font-size: 24px;
}

main .content-section p {
  width: 379px;
  font-weight: 400;
  font-size: 16px;
}

main .content-section.color2 {
  background-color: #f6f6f6;
}

main .content-section h1.titulo2 {
  font-family: "Luckiest Guy";
  font-size: 32px;
  font-weight: 400;
}

/* Versão PC */
@media (min-width: 1280px) {
  /* configuração do Header PC */
  header {
    height: 459px;
  }

  header #content-header {
    width: 60%;
    display: grid;
    flex-direction: column;
    justify-items: center;
    grid-template-areas:
      "titulo-header titulo-header"
      "texto-header texto-header"
      "botao1 botao2"
    ;
  }

  header #content-header h1 {
    grid-area: titulo-header;
    width: 313px;
    height: 112px;
    font-size: 56px;
  }

  header #content-header p {
    grid-area: texto-header;
    width: 757px;
    height: 66px;
  }

  header #content-header button:first-of-type {
    grid-area: botao1;
    display: inline-block;
    width: auto;
    height: auto;
  }

  header #content-header button:last-of-type {
    grid-area: botao2;
    width: auto;
    height: auto; 
  }

  /* configuração do Main PC */
  main section:first-of-type {
    display: grid;
    flex-direction: column;
    margin: 20px auto;
    grid-template-areas:
      "img1 titulo1"
      "img1 texto1"
    ;
  }

  main section:first-of-type img {
    grid-area: img1;
    width: 607px;
    height: 394px;
  }

  main section:first-of-type h1 {
    grid-area: titulo1;
    width: 329px;
    font-size: 40px;
    font-weight: 800;
  }

  main section:first-of-type p {
    grid-area: texto1;
    width: 348px;
    font-weight: 400;
    padding-bottom: 100px;
  }

  /* Seção 2 */
  main .content-section.color2.section2 {
    width: 100%;
    display: grid;
    flex-direction: column;
    margin: 20px auto;
    justify-content: center;
    grid-template-areas:
      "titulo2 img2"
      "texto2 img2"
    ;
  }

  main .section2 h1 {
    grid-area: titulo2;
    align-self: self-end ;
    font-size: 40px;
    font-weight: 800;
  }

  main .section2 p {
    grid-area: texto2;
    padding-top: 10px;
  }

  main .section2 img {
    grid-area: img2;
    width: 607px;
    height: 394px;
  }
  
  /* Seção 3 */
  main .content-section.section3 {
    width: 100%;
    display: grid;
    flex-direction: column;
    margin: 20px auto;
    justify-content: center;
    grid-template-areas:
      "img3 titulo3"
      "img3 texto3"
    ;
  }
  main .content-section.section3 img {
    grid-area: img3;
    width: 607px;
    height: 394px;
  }

  main .content-section.section3 h1 {
    grid-area: titulo3;
    align-self: self-end;
    font-size: 40px;
    font-weight: 800;
  }

  main .content-section.section3 p {
    grid-area: texto3;
    padding-top: 10px;
  }
  
  /* Seção 4 */
  main .content-section.color2:last-of-type {
    display: grid;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: 20px auto;
    grid-template-areas:
      "titulo4"
      "texto4"
      "img4"
    ;
  }
  
  main .content-section.color2:last-of-type h1 {
    grid-area: titulo4;
    width: 608px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
  }
  
  main .content-section.color2:last-of-type p {
    grid-area: texto4;
    width: 802px;
    font-weight: 400;
  }

  main .content-section.color2:last-of-type img {
    grid-area: img4;
    width: 784px;
    height: 508px;
  }
}